In [ ]:
lower = 1042000
upper = 702648265
for num in range(lower, upper + 1):
   order = len(str(num))
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10
   if num == sum:
       print("The first armtsong number is:", num)
break

The first armtsong number is: 1741725
The first armtsong number is: 4210818
The first armtsong number is: 9800817
The first armtsong number is: 9926315
The first armtsong number is: 24678050
The first armtsong number is: 24678051